PORT=3000
MONGO_URI=mongodb://aponofficial53_db_user:zOpA6IxugSd2Ki1G@ac-6dmn8fo-shard-00-00.wz8by4w.mongodb.net:27017,ac-6dmn8fo-shard-00-01.wz8by4w.mongodb.net:27017,ac-6dmn8fo-shard-00-02.wz8by4w.mongodb.net:27017/?ssl=true&replicaSet=atlas-ficgzd-shard-0&authSource=admin&appName=ebackend
JWT_SECRET=8964196c63c42062c2d9d4ef4a8fa23f41a2859f7a33860ff69a9cf56c7e2338


// zOpA6IxugSd2Ki1G; password
// mongodb+srv://aponofficial53_db_user:zOpA6IxugSd2Ki1G@ebackend.wz8by4w.mongodb.net/